<h1>StaticPages#contact</h1>
<Div class="header">
                <h1>Contact Page</h1>
            </div>
            <div>
                <div class="name">
                    <p>Daniel Mayle
                        <br> Full Stack Web Developer <span class="glyphicon glyphicon-signal"></span>
                        <br> (530) 588-6641 <span class="glyphicon glyphicon-earphone"></span>
                        <br>
                        <a href="mailto:dmayle012@gmail.com"> dmayle012@gmail.com</a> <span class="glyphicon glyphicon-envelope"></span>
                        <br> 575 West Hacienda Ave Campbell, CA 95508
                    </p>

                       <div class="Main Text">
        <h3>My Story</h3>
        <p>After spending 5 years as a Dietetic Technician, I decided it was time for a career change and learn web design. I have recently joined CareerFoundry's web design course in an effort to learn the skills needed to become a full stack engineer.</p>
   </div>
